.create-ad-form-location-dropdowns {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-flow: row wrap;
}

.create-ad-form-location-dropdown {
  width: 230px;
  margin: 10px 0px;
}

.create-ad-form-location-container {
  width: 100%;
}
